/* styles.css */
@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';

:root {
    --russian-violet: #10002bff;
    --russian-violet-2: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #e0aaffff;
}

.bg-russian-violet {
    background-color: var(--russian-violet);
}

.text-russian-violet {
    color: var(--russian-violet);
}

.text-heliotrope {
    color: var(--heliotrope);
}

.text-french-violet {
    color: var(--french-violet);
}

.bg-tekhelet {
    background-color: var(--tekhelet);
}

.bg-persian-indigo {
    background-color: var(--persian-indigo);
}

.bg-french-violet {
    background-color: var(--french-violet);
}

.hover\:bg-persian-indigo:hover {
    background-color: var(--persian-indigo);
}

.hover\:bg-amethyst:hover {
    background-color: var(--amethyst);
}

.hover\:text-tekhelet:hover {
    color: var(--tekhelet);
}

.rounded-elegant {
    border-radius: 8px;
}

.transition-elegant {
    transition: all 0.3s ease-in-out;
}

/* Additional styles for navbar responsiveness and hover effect */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: var(--russian-violet);
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--tekhelet);
}

/* Ensure navbar is responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

/* Modal background blur */
.hidden {
    display: none;
}

.blur-background {
    filter: blur(5px); 
}

/* Background Image */
.bg-subtle-pattern {
    background-color: #e0aaffff;
    background-image: url('https://transparenttextures.com/patterns/brushed-alum-dark.png');
}

/* Section Spacing */
.section-spacing {
    margin: 4rem 4rem 4rem 4rem;
}